
/* Estilos para la barra de navegación */
.navbar {
    width: 100%;
    background-color: #000000b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #007bff;
    border-radius: 5px;
}

.nav-links .btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links .btn:hover {
    background-color: #fff;
    color: #007bff;
}

/* Estilos para centrar el countdown */
.countdown-container {
    flex-grow: 1;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  
}

#countdown {
    background: #ffffff05;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: #ecd611;
}

#countdown.pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.btn-outline-light {
    margin: 0 0.5rem;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

#salon1 {
    position: relative;
    width: 87vw;
    height: 91vh;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

.mesa {
    width: 7vw; /* Ajuste según el viewport */
    height: 7vw; /* Mantén la proporción */
    max-width: 70px; /* Tamaño máximo para evitar que se agranden mucho */
    max-height: 70px; /* Mantén la proporción en pantallas grandes */
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 6vw; /* Centra el texto verticalmente */
    border-radius: 50%;
    cursor: move;
    position: absolute;
    transition: transform 0.2s ease;
}

.mesa-principal {
    background-color: #ecd611;
    width: 7vw;
    height: 7vw;
    max-width: 80px;
    max-height: 80px;
}

.mesa.dragging {
    opacity: 0; /* Reduce la opacidad mientras se arrastra */
    transform: scale(1.05); /* Escala ligeramente el elemento para destacarlo */
    z-index: 1000; /* Asegúrate de que el elemento arrastrado esté sobre los demás */
}
.mesa.highlight {
    border: 2px solid #007bff; /* Agrega un borde azul cuando se selecciona */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Agrega una sombra para resaltar el elemento */
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.list {
    display: none; /* Ocultar la lista antigua */
}



@media (max-width: 768px) {
    .mesa, .mesa-principal {
        width: 10vw; /* Aumenta el tamaño en pantallas pequeñas */
        height: 10vw;
        line-height: 10vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mesa, .mesa-principal {
        width: 8vw;
        height: 8vw;
        line-height: 8vw;
    }
}

@media (min-width: 1025px) {
    .mesa, .mesa-principal {
        width: 6vw; /* Tamaño para pantallas más grandes */
        height: 6vw;
        line-height: 6vw;
    }
 }